@charset "UTF-8";
/*===================================================================================
================== FOOTER ESTILO =================================
=====================================================================================*/
/* Footer: ajustes al pie pagina */
.footer__format {
  background-color: black;
  padding: 5px;
  /* Footer: Se quita hover al parrafo con dirección */ }
  .footer__format a {
    text-decoration: none;
    color: white !important; }
  .footer__format a:not(.notHover):hover {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.15rem;
    transition: 0.9s;
    letter-spacing: 2px; }

/* Footer: ajustes al display del footer + flex */
.footer__format--flex {
  display: flex;
  flex-direction: column; }

.footer__container {
  flex: 1;
  padding: 0 !important; }

/* Footer: margin y padding listado*/
.footer__listado {
  margin: 5px;
  padding: 4px; }
  .footer__listado:hover {
    text-decoration: none;
    background: #7d9496;
    color: #050801;
    box-shadow: 0 0 5px #7d9496, 0 0 20px #7d9496, 0 0 50px #7d9496, 0 0 100px #7d9496; }
  .footer__listado--centrado {
    text-align: center; }

/* Footer: formato a la etiqueta address */
address {
  color: white !important;
  font-size: 1.1rem !important;
  text-align: center; }

/* Se edita fondo de los botones */
/* Fondo de btn home del resto de las paginas */
#btnHomePage {
  background-image: url("../images/burguer.png"); }

/* Fondo de btn home del resto de las paginas */
#btnMainIndex {
  background-image: url("../images/burguer.png"); }

/* Fondo de btn home del resto de las paginas */
#btnMainPage {
  background-image: url("../images/volver.png"); }

/* Formato al grid que contiene imagenes de las cards del carrito */
#gridFondo {
  background-color: #e39bbe; }

.shopBurger #h1 {
  margin: 2.5% 0 0 3%; }

.shopImg__formato {
  border: 1px solid black;
  width: 60% !important;
  margin: 15px 5px 15px 10px; }

.shopImg__formato--redondeo {
  border-radius: 35%; }

/* Botones de las cards*/
.btn-primary {
  color: white;
  background-color: #364777; }

.btn-success {
  color: white;
  background-color: #782116; }

.btn-danger {
  color: white;
  background-color: #8c4d42; }

.contacto__formato_texto {
  font-style: italic;
  font-weight: bolder;
  font-size: 0.9rem; }

.contacto__formato_texto--color {
  color: #545454; }

/* 7.1.1 - Estilo al Frame que contiene los controles */
.contacto__frame {
  margin: 5%;
  padding: 2%; }

.contacto__frame--color {
  background-color: lightgray;
  border-radius: 5px; }

.contacto__frame__legenda {
  color: #545454;
  font-style: italic;
  font-family: handlee;
  font-weight: bolder;
  font-size: x-large;
  text-shadow: 2px 2px 3px grey;
  margin-top: 20px; }

/* 7.1.2 - Formato a los bloques de los controles*/
.formulario__formato {
  margin-left: 3%; }

/* 7.1.3 - Formato a los botones + hover */
.formulario__control {
  font-size: 1rem;
  font-family: meriendaBold;
  padding: 5px;
  border-radius: 5px; }

.formulario__control--color {
  background-color: teal;
  color: white; }

.formulario__control:hover {
  background-color: ivory;
  color: black;
  box-shadow: 5px 5px 20px #3a3f3b; }

.contacto__foot_fontContacto_ {
  font-family: courgette; }

/*===================================================================================
================== ESTILO ASIDE =================================
=====================================================================================*/
/* Formato del aside - Flex */
.aside__formato {
  width: 10%;
  max-width: 15%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* Formato al div contenedor de los iconos de las redes */ }
  .aside__formato .social__formato {
    width: 60px;
    right: 8%;
    height: 205px;
    top: 30%;
    margin-top: -100px; }
    .aside__formato .social__formato--posicion {
      position: fixed; }

/*===================================================================================
================== QUERY MEDIA - ASIDE ==============================================
=====================================================================================*/
@media screen and (max-width: 768px) {
  .aside__formato .social__formato {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60px;
    position: fixed;
    right: 8%;
    top: 130%;
    margin-top: -360px; } }

@media screen and (max-width: 600px) {
  .aside__formato .social__formato {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60px;
    position: fixed;
    right: 13%;
    top: 130%;
    margin-top: -360px; } }

/*===================================================================================
==================SECCION - HEADER ===========================================
=====================================================================================*/
/* header: ajustes al logo y posicionamiento */
.header__formato {
  background-color: #545454;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  line-height: 1.5rem; }

/* header: formato a la imagen */
.header__formato__imgHead {
  height: 50px;
  width: auto;
  margin: 0px 5px; }
  .header__formato__imgHead--transition {
    transition: transform 0.3s linear; }
  .header__formato__imgHead:hover {
    transform: scale(1.1);
    opacity: 0.5; }
  .header__formato__imgHead--formato {
    margin: auto;
    margin-top: 10px; }

/*===================================================================================
==================QUERY MEDIA - HEADER ===========================================
=====================================================================================*/
/* --- 2.2.  Se centrará el header y estará arriba del bloque, solo para formato celular*/
@media (max-width: 768px) {
  .header__formato {
    display: block; }
    .header__formato .header__formato__imgHead {
      padding-left: 40%; }
      .header__formato .header__formato__imgHead:hover {
        transform: scale(1, 1.02);
        opacity: 0.5; } }

/* Edicion de TABLAS */
.table__formato {
  margin: 0 auto;
  margin-bottom: 30px; }
  .table__formato--borders {
    border-color: black; }

/* 5.1.2 - Define color a fila por medio */
.table__tr:nth-child(even) {
  background-color: #af9696; }

/* 5.1.3 - Se hace hoover sobre las filas de la tabla*/
.table__tr:hover td {
  background-color: #f7d6f7;
  color: black; }

/* 5.1.4 - Formato de filas y columnas */
.table__thead {
  text-align: center; }
  .table__thead .table__thead__headers {
    padding: 8px; }
    .table__thead .table__thead__headers--color {
      background-color: #97aaaa;
      color: white; }

.table__tbody {
  text-align: center; }
  .table__tbody .table__tbody__row {
    border: 1px solid black;
    padding: 6px; }

.table__tbody .tDetalle {
  text-align: left; }
  .table__tbody .tDetalle .ulType {
    list-style-type: square;
    padding-left: 7%; }

.olType {
  list-style-type: lower-alpha;
  list-style-position: inside;
  padding-left: 40px; }

/* 5.1.5 - Se le da formato a la cabecera de la tabla */
.table__tableDescripcion {
  text-decoration: underline;
  font-weight: bold;
  color: brown;
  font-size: 1rem;
  text-align: center; }

/* Formato al pie de la tabla */
.tfoot {
  text-align: center; }
  .tfoot .tfoot__tr {
    background-color: grey;
    font-weight: bolder; }
    .tfoot .tfoot__tr--color {
      color: white; }
    .tfoot .tfoot__tr .tfoot__tr__td {
      padding: 5px;
      font-size: 1.1rem; }

/* Formato al Span */
span {
  font-weight: bolder;
  font-style: italic; }

/*===================================================================================
==================QUERY MEDIA - FOOTER ==============================================
=====================================================================================*/
@media (max-width: 500px) {
  .table thead {
    display: none; }
  .table .tfoot {
    display: none; }
  .table caption {
    display: block; }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%; }
  .table tr {
    margin-bottom: 15px; }
  .ulType {
    display: block;
    margin-left: 60px; } }

/*===================================================================================
================== FORMATO: NOVEDADES.HTML =================================
=====================================================================================*/
#sectionNovCard {
  padding: 0 !important; }

#sectionBeneficios {
  padding: 23px 0 !important;
  background-color: grey; }

#sectionNovCard {
  padding: 0 !important; }

.mainNovedades {
  width: 100% !important;
  margin: 5   0px auto !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.mainCard {
  margin: 10px !important;
  perspective: 800 !important; }
  .mainCard .card {
    width: 200px !important;
    height: 200px !important;
    position: relative !important;
    transform-style: preserve-3d;
    transition: .7s ease;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.65);
    border-radius: 20px !important; }
    .mainCard .card .frontCard {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0%;
      backface-visibility: hidden;
      background-size: cover;
      border-radius: 20px !important; }
    .mainCard .card .backCard {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: lightgrey;
      top: 0;
      left: 0%;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      text-align: center;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px !important; }
      .mainCard .card .backCard p {
        color: black;
        font-size: 1.1rem;
        text-shadow: 6px 2px 4px rgba(75, 46, 46, 0.69); }

.mainCard:hover .card {
  transform: rotateY(180deg); }

.card__imgFormat {
  width: 200px;
  height: 200px;
  border-radius: 20px !important; }

.cardEnd {
  font-size: 1.2rem; }

/*===================================================================================
================== QUERY MEDIA: NOVEDADES.HTML =================================
=====================================================================================*/
@media screen and (max-width: 768px) {
  #sectionNov h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 1.4rem; }
  #sectionNov p {
    margin-bottom: 200%; }
  .mainNovedades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; } }

@media screen and (max-width: 576px) {
  .mainNovedades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; } }

/*===================================================================================
================== FONDOS ESTILOS =================================
=====================================================================================*/
/* Fondo del Carrousel */
.divBlack {
  background-color: #332b2b;
  margin: 0;
  padding: 0; }

/* Fondo del acceso menu - Index */
.divMenu {
  background-color: #332b2b;
  height: 600px; }

/* Fondo de pagos - menu */
.divMenuPago {
  background-color: #332b2b; }

/*===================================================================================
================== ENCABEZADOS ESTILOS =================================
=====================================================================================*/
/* Variables */
#h1 {
  font-size: 3rem !important;
  text-align: center; }

#h2 {
  font-size: 2rem !important;
  text-align: center; }

/* Formato a todos los encabezados H1 - H5*/
/* Asignacion de formato a encabezados*/
.encabezado_h1 {
  color: #502f1b;
  font-weight: bolder;
  text-decoration: wavy;
  text-shadow: 0px 5px 7px #dac8c8;
  text-transform: capitalize; }

.encabezado_h2 {
  color: #382b2b;
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
  font-size: 2.2rem; }

.encabezado_h3 {
  color: #382b2b;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-shadow: 2px 15px 9px rgba(0, 0, 0, 0.69); }

.encabezado_h4Index {
  font-size: 1.4rem;
  color: #efe2ce;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  padding-top: 50px;
  padding-bottom: 10px; }

.encabezado_h4Index::after {
  content: '';
  background: #efe2ce;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px; }

.encabezado_h5 {
  color: #1a837c;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  text-align: center; }

/*===================================================================================
================== QUERY MEDIA: SECCION REGALOS =================================
=====================================================================================*/
@media screen and (max-width: 576px) {
  .encabezado_h2 {
    font-size: 1.2rem !important; }
  .encabezado_h3 {
    font-size: 1.12rem !important; }
  .encabezado_h4Index {
    font-size: 1.1rem !important; }
  .encabezado_h5 {
    font-size: 1rem !important; } }

/*===================================================================================
================== CARROUSEL =================================
=====================================================================================*/
/* Carrousel: Se agranda tamaño del parrafo + color*/
.carrousel__parrafo, .carrousel__parrafo--color {
  font-size: 30px;
  font-weight: bold; }

.carrousel__parrafo--color {
  color: white; }

/* Formato a la sección de recomendaciones - Promocion.html */
#sectionTablaPromo {
  padding: 10px 0 !important; }

#sectionTest {
  padding: 3rem 0 !important;
  background-color: #332b2b; }

.encabezado_h3 {
  position: relative;
  color: #437c64;
  text-shadow: 2px 5px 9px rgba(214, 176, 176, 0.5); }

/* Formato al encabezado de la seccion */
.encabezado_h3::after {
  content: "";
  width: 10rem;
  height: 8px;
  background-color: #437c64;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem; }

/* Formato a las cards - Flex */
.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column; }
  .card-wrapper .card__formato {
    width: 20rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 3px 3px 7px rgba(163, 144, 144, 0.7);
    border: 2px solid black; }
    .card-wrapper .card__formato--img {
      width: 100%;
      height: 26rem;
      object-fit: cover;
      clip-path: polygon(0 0, 100% 0, 100% 38%, 0 69%); }
    .card-wrapper .card__formato--perfil {
      width: 12rem;
      height: 12rem;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid black;
      margin-top: -20rem;
      z-index: 100; }

/* Formato al titulo de las cards */
.perfil__titulo {
  font-size: 2rem !important;
  color: black;
  text-shadow: 3px 3px 5px grey !important;
  padding-top: 1rem !important; }

/* Formato al texto de las cards */
.about {
  font-size: 1.2rem;
  font-style: italic;
  margin: 1.5rem 1rem;
  text-align: center;
  color: brown; }

/*===================================================================================
==================QUERY MEDIA - PROMO CARDS ==========================================
=====================================================================================*/
@media screen and (min-width: 768px) {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
  .card__formato {
    margin: 2rem; }
  /* Efecto Fade In en las cards */
  @keyframes fadeIn {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  .card__formato:nth-child(3) {
    animation: fadeIn 3.5s 4.5s backwards; }
  .card__formato:nth-child(2) {
    animation: fadeIn 2.1s 3.3s backwards; }
  .card__formato:nth-child(1) {
    animation: fadeIn 0.7s 1.9s backwards; } }

/*===================================================================================
================== QUERY MEDIA: MENU - Nuestra cocina ==============================
=====================================================================================*/
@media screen and (max-width: 768px) {
  .iFrameFormat {
    width: 560px;
    height: 315px; }
  .articleProd {
    font-size: 1.1rem !important; } }

@media screen and (min-width: 768px) {
  .iFrameFormat {
    width: 560px;
    height: 315px; }
  .pFormat {
    font-size: 1.1rem !important; } }

@media screen and (max-width: 576px) {
  .iFrameFormat {
    width: 200px;
    height: 200px; }
  .pFormat {
    font-size: 0.8rem !important; } }

/* Seccion de regalos y promos */
.main-container {
  background-color: #ffffff;
  padding: 30px;
  color: #ffffff;
  font-weight: bold;
  margin: auto; }

.main-container-row {
  margin-bottom: 20px;
  padding: 30px; }

.main-container__image {
  background-image: url(../images/regalo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px; }

.main-container__info {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-container__info-text {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 50px 50px; }

.main-container__info-button {
  display: flex;
  justify-content: center;
  padding-bottom: 60px; }

.main-container__button {
  background: #f29204;
  color: #ffffff;
  width: 300px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
  margin: 0 30px; }

.main-container__button > a {
  text-decoration: none;
  color: #000; }

.main-container__button:hover {
  background-color: white;
  color: #928b8b; }

.open-container {
  color: #000;
  font-weight: bold;
  padding: 0px 33px;
  margin-bottom: 25px; }

.open-container__image {
  background-image: url(../images/regalo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 310px; }

.open-container__text {
  font-size: 1rem;
  font-weight: bold;
  text-align: justify;
  padding-left: 65px; }

/*===================================================================================
================== QUERY MEDIA: SECCION REGALOS =================================
=====================================================================================*/
@media screen and (max-width: 768px) {
  .open-container__text {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    margin-top: 15px; } }

@media screen and (max-width: 576px) {
  .main-container__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .main-container__info-text {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 50px; }
  .main-container__info-button {
    display: flex;
    justify-content: center;
    padding-bottom: 60px; }
  .open-container__text {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    margin-top: 15px; }
  .rowNov a {
    font-size: 1.1rem; } }

@media screen and (min-width: 576px) {
  .main-container__info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .main-container__info-text {
    display: flex;
    flex-direction: column; }
  .main-container__info-button {
    display: flex;
    justify-content: center;
    padding-bottom: 60px; } }

/*===================================================================================
================== NOVEDADES CARDS ESTILO =================================
=====================================================================================*/
/*--- Formato al cuerpo de las cartas */
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  /*-- fondos de las cards */
  /*===================================================================================
================== QUERY MEDIA NOVEDADES CARDS =================================
=====================================================================================*/ }
  .blog-card a {
    color: inherit; }
    .blog-card a:hover {
      color: #5ad67d; }
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg); }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px; }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s; }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none; }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem; }
    .blog-card .details a {
      text-decoration: dotted underline; }
    .blog-card .details ul li {
      display: inline-block; }
    .blog-card .details .author:before {
      margin-right: 10px;
      content: ""; }
    .blog-card .details .date:before {
      font-family: handlee;
      margin-right: 10px;
      content: "\f133"; }
    .blog-card .details .tags ul:before {
      font-family: handlee;
      content: "";
      margin-right: 10px; }
    .blog-card .details .tags li {
      margin-right: 2px; }
      .blog-card .details .tags li:first-child {
        margin-left: -4px; }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1; }
    .blog-card .description h3 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem; }
    .blog-card .description h4 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px; }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0; }
    .blog-card p:first-of-type {
      margin-top: 1.25rem; }
      .blog-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #5ad67d;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px; }
  .blog-card:hover .details {
    left: 0%; }
  .blog-card .imgNovedades1 {
    background-image: url("../images/fondohambur1.jpg"); }
  .blog-card .imgNovedades2 {
    background-image: url("../images/fondohambur2.jpg"); }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 638px;
      margin-top: 35px;
      margin-bottom: 35px; }
      .blog-card .meta {
        flex-basis: 40%;
        height: auto; }
      .blog-card .description {
        flex-basis: 60%; }
        .blog-card .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; }
      .blog-card.alt {
        flex-direction: row-reverse; }
        .blog-card.alt .description:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg); }
        .blog-card.alt .details {
          padding-left: 25px; } }
  @media (max-width: 500px) {
    .blog-card {
      flex-direction: row;
      max-width: 498px;
      margin-top: 35px;
      margin-bottom: 35px; }
      .blog-card .meta {
        flex-basis: 40%;
        height: auto; }
      .blog-card .description {
        flex-basis: 60%; }
        .blog-card .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 13px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; }
      .blog-card.alt {
        flex-direction: row-reverse; }
        .blog-card.alt .description:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg); }
        .blog-card.alt .details {
          padding-left: 7px; } }
