@import "componentes/footer";
@import "pages/index";
@import "pages/contacto";
@import "componentes/aside";
@import "componentes/header";
@import "componentes/tables";
@import "pages/novedades";
@import "componentes/fondos";
@import "componentes/encabezado";
@import "componentes/carrousel";
@import "pages/promos";
