$CardIndex_fondo: rgba(227, 155, 190, 1);
$Card_H1_margin: 2.5% 0 0 3%;
$ShopImg_borde: 1px solid black;   
$letraBtn: white;


/* Formato se las secciones */
#mainFormato
{
    padding: 0 !important;   
}

#sectionNosotros
{
    padding: 0 !important;   
}

#sectionIndexMenu
{
    padding: 0 !important;   
}

#cards
{
    padding: 0 !important;   
}

#sectionRegalos
{
    padding: 10px 0 !important;   
}


/* Formato al grid que contiene imagenes de las cards del carrito */

#gridFondo{
    background-color: $CardIndex_fondo;
}

.shopBurger #h1{
    margin: $Card_H1_margin;
}

.shopImg__formato{
    border: $ShopImg_borde;
    width: 60% !important; 
    margin: 15px 5px 15px 10px;
}

.shopImg__formato--redondeo{
    border-radius: 35%;
}

/* Botones de las cards*/

$colores:(primary: rgb(54, 71, 119), success: rgb(120,33,22), danger:rgb(140,77,66));

 @each $fondo, $color in $colores{
     .btn-#{$fondo}{
         color: $letraBtn;
         background-color: $color;
     }
 }


/*===================================================================================
==================QUERY MEDIA - NAVEGADOR ===========================================
=====================================================================================*/

@media (max-width: 768px) {
    .divisor
    {
        display: grid;
        place-items: center;
        background: rgb(23,113,121);
        background: linear-gradient(90deg, rgba(23,113,121,1) 0%, rgba(234,236,216,1) 66%, rgba(162,222,233,1) 100%);
        margin: 20px !important;
    }
}
  
  @media screen and (max-width: 576px) {
    .divisor
    {
        display: grid;
        place-items: center;
        background: rgb(23,113,121);
        background: linear-gradient(90deg, rgba(23,113,121,1) 0%, rgba(234,236,216,1) 66%, rgba(162,222,233,1) 100%);
        margin: 5px !important;
    }
}








