/*===================================================================================
================== MENU FORMATO ESTILO ==============================
=====================================================================================*/

/*---- Paginas Menu y Promos: Formato -----*/

/* se le da espaciado a la seccióny articulos de la pagina */

#sectionMenu{
    padding: 10px 0 !important;
    margin-bottom: 1rem;
}

#seccionPago{
    padding: 10px 0 !important; 

}

#sectionCocina{
    padding: 10px 0 !important; 
    margin-bottom: 1rem;
}


/*===================================================================================
================== QUERY MEDIA: MENU - Nuestra cocina ==============================
=====================================================================================*/

@media screen and (max-width: 768px) {
    .iFrameFormat
    {
        width:560px; 
        height:315px;
    }

    .articleProd
    {
        font-size: 1.1rem !important;
    }
  
}

@media screen and (min-width: 768px) {
    .iFrameFormat
    {
        width:560px; 
        height:315px;
    }
    .pFormat
    {
        font-size: 1.1rem !important;
    }
  }

  @media screen and (max-width: 576px) {
    .iFrameFormat
    {
        width:200px; 
        height:200px;
    }
    .pFormat
    {
        font-size: 0.8rem !important;
    }
    
}

