
@mixin white-gradient {
	background: linear-gradient(to right,  rgb(255, 255, 255) 0%,rgba(255,255,255,0) 100%);

}

$animationSpeed: 40s;

// Animacion
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}



// Estilo

#sectionClientes{
    padding: 0 0 40px 0 !important;

}

.slider__clientes {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
    background-color: grey;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slideCliente-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slideCard {
		height: 100px;
		width: 250px;
	}
}
