
 /*===================================================================================
================== FOOTER ESTILO =================================
=====================================================================================*/

$footer_background: black;
$display_flex: flex;
$footer_espacio: 5px;
$footer_color: white !important;
$text_align: center;
$foot_padding: 0;
$foot_btn_fondo: url('../images/burguer.png');
$foot_btn_fondo_index: url('../images/burguer.png');
$foot_btn_back: url('../images/volver.png');


/* Footer: ajustes al pie pagina */

.footer__format{
    background-color: $footer_background;
    padding: $footer_espacio;
    
    a{
        text-decoration: none;
        color: $footer_color; 

    }

    /* Footer: Se quita hover al parrafo con dirección */

    a:not(.notHover):hover {
        text-decoration: none;
        cursor: pointer;
        font-size: 1.15rem;
        transition: 0.9s;
        letter-spacing: 2px;
      }
}

/* Footer: ajustes al display del footer + flex */

.footer__format--flex{
    display: $display_flex;
    flex-direction: column;
}

.footer__container{
    flex: 1;
    padding: 0 !important;
}

/* Footer: margin y padding listado*/
.footer__listado
{
    margin: 5px;
    padding: 4px;

    &:hover
    {
        text-decoration: none;
        background: #7d9496 ;
        color: #050801 ;
        box-shadow: 0 0 5px #7d9496,
                    0 0 20px #7d9496,
                    0 0 50px #7d9496,
                    0 0 100px #7d9496,

    }

    &--centrado
    {
        text-align: center;
    }
}


/* Footer: formato a la etiqueta address */

address{ 
    color: $footer_color;
    font-size: 1.1rem !important;
    text-align: $text_align;
}


/* Se edita fondo de los botones */

@mixin fondoBtnFooter ($btn){
    @if ($btn == "btnHomePage"){
        background-image: $foot_btn_fondo;
    }
    @else if ($btn == "btnMainIndex") {
        background-image: $foot_btn_fondo_index;
    }
    @else if ($btn == "btnMainPage") {
        background-image: $foot_btn_back;
    }
}


/* Fondo de btn home del resto de las paginas */
#btnHomePage{
    @include fondoBtnFooter("btnHomePage");
}

/* Fondo de btn home del resto de las paginas */
#btnMainIndex{
    @include fondoBtnFooter("btnMainIndex");
}

/* Fondo de btn home del resto de las paginas */
#btnMainPage{
    @include fondoBtnFooter("btnMainPage");

}


