
$footer_background: linear-gradient(to top, #240316, #22081c, #200d22, #1c1228, #18162c, #161f37, #122942, #09334b, #00465d, #005a6b, #006f76, #1a837c);
$display_flex: flex;
$footer_espacio: 5px;
$footer_color: white !important;
$text_align: center;
$foot_padding: 0;
$foot_btn_fondo: url('../images/burguer.png');
$foot_btn_fondo_index: url('../images/burguer.png');
$foot_btn_back: url('../images/volver.png');


/* Footer: ajustes al pie pagina */

.footer__format{
    background-image: $footer_background;
    padding: $footer_espacio;
    
    a{
        text-decoration: none;
        color: $footer_color; 
    }

    /* Footer: Se quita hover al parrafo con dirección */

    a:not(.notHover):hover {
        text-decoration: underline;
      }
}

/* Footer: ajustes al display del footer + flex */

.footer__format--flex{
    display: $display_flex;
    flex-direction: column;
}

.footer__container{
    flex: 1;
}

/* Footer: formato a la etiqueta address */

address{ 
    color: $footer_color;
    font-size: 1.1rem !important;
    text-align: $text_align;
}


/* Se edita fondo de los botones */

@mixin fondoBtnFooter ($btn){
    @if ($btn == "btnHomePage"){
        background-image: $foot_btn_fondo;
    }
    @else if ($btn == "btnMainIndex") {
        background-image: $foot_btn_fondo_index;
    }
    @else if ($btn == "btnMainPage") {
        background-image: $foot_btn_back;
    }
}


/* Fondo de btn home del resto de las paginas */
#btnHomePage{
    @include fondoBtnFooter("btnHomePage");
}

/* Fondo de btn home del resto de las paginas */
#btnMainIndex{
    @include fondoBtnFooter("btnMainIndex");
}

/* Fondo de btn home del resto de las paginas */
#btnMainPage{
    @include fondoBtnFooter("btnMainPage");

}


