 /*===================================================================================
================== SECCION PASION DEL INDEX.HTML =================================
=====================================================================================*/
$Negrita_valor: 400;
$formato: 0px;

/* FORMATO A LA TARJETA */
#info{

    padding: 0 ;

    /* ESTILO A LA TARJETA */
    .pasionDiv{
        
        width: 100%;
        margin: 0 auto;
    
            .pasionCard{
                display: inline-block;
                width: 50%;
                padding: 4rem 1rem 3rem 1rem;
                background-color: teal;
                position: relative;
                box-shadow: 6px 6px 5px #e6cd89;
                &:after
                {
                  content: "";
                  display: block;
                  width: $formato;
                  height: $formato;
                  background-color: skyblue;
                  top: $formato;
                  right: $formato;
                  border-bottom: 20px solid darken(teal, 5%);
                  border-left: 20px solid darken(#008080, 5%);
                  border-right: 20px solid lightgray;
                  border-top: 20px solid lightgray;
                  position: absolute;
                  filter: drop-shadow(-5px 5px 3px rgba(0,0,0,0.5));
                }
                &:before
                {
                  content: "";
                  display: block;
                  width: $formato;
                  height: $formato;
                  border-top: 20px solid darken(teal, 5%);
                  border-right: 20px solid darken(teal, 5%);
                  border-left: 20px solid lightgray;
                  border-bottom: 20px solid lightgray;
                  bottom: $formato;
                  left: $formato;
                  position: absolute;
                  filter: drop-shadow(7px -7px 5px rgba(0,0,0,0.5));
                  margin-right: 10%;
                }
                &:nth-of-type(1)
                {
                  margin-right: 9%; 
                }
            }

        }
    }

    /* TITULO DE LA TARJETA DE PASION*/
    
.tituloPasion{
    color: snow;
    margin-bottom: 1rem;
    font-weight: $Negrita_valor + 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.parrafoPasion
{
    color: snow;
    line-height: 140%;
    font-weight: $Negrita_valor;
} 