 /*===================================================================================
================== TABLAS FORMATO =================================
=====================================================================================*/
/* Edicion de TABLAS */

$tabla_margen: 0 auto;
$tabla_filaHijo_color: rgb(175, 150, 150);
$tabla_padding: 4px;
$table_color: white;
$tabla_vinieta_padding: 0;
$tabla_borde: 1px solid black; 

.table__formato{
    margin: $tabla_margen;
    margin-bottom: 30px;
    
    &--borders
    {
        border-color: black;
    
    }
}

/* 5.1.2 - Define color a fila por medio */

.table__tr:nth-child(even){
    background-color: $tabla_filaHijo_color;
} 

/* 5.1.3 - Se hace hoover sobre las filas de la tabla*/

.table__tr:hover td{
    background-color: rgb(247, 214, 247);
    color: black;
} 

/* 5.1.4 - Formato de filas y columnas */

.table__thead{
    text:
    {
        align:center;
    }
    .table__thead__headers{
        padding: $tabla_padding * 2;

        &--color{
            background-color:rgb(151, 170, 170);
            color: $table_color;
        }   
    }
}

.table__tbody{
    text:
    {
        align:center;
    }
    .table__tbody__row{
        border: $tabla_borde;
        padding: $tabla_padding * 1.5;
    }
}

.table__tbody .tDetalle{
    text:
    {
        align: left;
    }
    
        .ulType{
            list-style-type:square;
            padding-left: $tabla_vinieta_padding + 7%;
        }
} 


.olType{
    list-style-type: lower-alpha;
    list-style-position: inside;
    padding-left: $tabla_vinieta_padding + 40px;
}


/* 5.1.5 - Se le da formato a la cabecera de la tabla */

.table__tableDescripcion{
    text-decoration: underline;
    font-weight: bold;
    color: brown;
    font-size: 1rem;
        text:
            {
                align:center;
            }
}


/* Formato al pie de la tabla */
.tfoot{
    text:
    {
        align: center;
    }
    .tfoot__tr{
        background-color: grey;
        font-weight: bolder;
        
            &--color{
            color: $table_color;
            }

            .tfoot__tr__td{
                padding: 5px;
                font-size: 1.1rem;
            } 
    }
}


/* Formato al Span */

span{
    font-weight: bolder;
    font-style: italic;
}


/*===================================================================================
==================QUERY MEDIA - FOOTER ==============================================
=====================================================================================*/

@media (max-width:500px){

    .table thead
     {
         display: none;
     }

     .table .tfoot
     {
         display: none;
     }

     .table caption
     {
        display: block;
     }

    .table, .table tbody, .table tr, .table td 
     {
         display: block;
         width: 100%;
     }

     .table tr {
         margin-bottom: 15px;
     }

     
     .ulType
     {
        display: block;
        margin-left: 60px;
     }
    
 

}